.language-button.active,
.language-button.active:hover {
  background: linear-gradient(
    94.79deg,
    #f37e2c 0.24%,
    #ffa362 100.24%
  ) !important;
  border: 1px solid rgba(225, 225, 225, 0.3) !important;
  color: black !important;
}
