.custom-input {
  background: rgba(255, 255, 255, 0.04);
  border: 1px solid rgba(255, 250, 250, 0.06);
  border-radius: 12px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-out;
}
